<footer data-wpr-lazyrender="1" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="sections-wrapper flex justify-between items-start">
          <div class="section">
            <div class="header small-pad">
              <div class="title big font-extrabold">
                LET'S KEEP <br /><span class="highlight">IN TOUCH</span>
              </div>
            </div>
            <div class="body">
              <p class="text-sm font-light">
                Leave us your email to receive the most <br />up to date news.
              </p>
            </div>
          </div>
          <div class="section">
            <div class="body">
              <div class="newsletter-form-container">
                <form
                  class="newsletter"
                >
                  <fieldset>
                    <div class="two-side-wrapper">
                      <div class="left-side">
                        <div class="form-control-group">
                          <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Your email"
                            title=""
                            required=""
                          />
                        </div>
                      </div>
                      <div class="right-side">
                        <div class="buttons-container">
                          <button
                            type="submit"
                            name="submit"
                            class="button button-brand-2"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="form-control-group checkbox">
                      <label class="checkbox flex items-center mt-4">
                        <div class="input-wrapper mr-4">
                          <input
                            type="checkbox"
                            name="terms"
                            value="1"
                            title=""
                            required=""
                          />
                        </div>
                        <span class="text-xs font-light">
                          I&nbsp;have read
                          <a
                            class="underline"
                            href="https://www.nemocnica-bory.sk/en/information-on-the-processing-of-personal-data/"
                            title=""
                            >Terms and Conditions and Privacy Policy</a
                          ></span
                        >
                      </label>
                    </div>
                  </fieldset>
                  <input type="hidden" name="view" value="ajax" />
                  <input type="hidden" name="action-name" value="send" />
                  <input type="hidden" name="lang" value="en" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="footer-inner">
        <div class="sections-wrapper flex justify-between items-start">
          <div class="section">
            <div class="header">
              <div class="title"></div>
            </div>
            <div class="body">
              <nav class="footer-links">
                <ul id="menu-footer-links-1-en" class="">
                  <li
                    id="menu-item-3074"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1739 current_page_item menu-item-3074 active"
                  >
                    <a
                      class="highlight"
                      href="https://nemocnica-bory.sk/en/"
                      aria-current="page"
                      data-ps2id-api="true"
                      >Home</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="section no-header">
            <div class="body">
              <nav class="footer-links">
                <ul id="menu-footer-links-2-sk" class="text-sm font-semibold">
                  <li
                    id="menu-item-10430"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10430"
                  >
                    <a
                      href="https://nemocnica-bory.sk/kariera/"
                      data-ps2id-api="true"
                      >Kariéra</a
                    >
                  </li>
                  <li
                    id="menu-item-1606"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1606"
                  >
                    <a
                      rel="privacy-policy"
                      href="https://nemocnica-bory.sk/en/informacie-o-spracuvani-osobnych-udajov/"
                      data-ps2id-api="true"
                      >Informácie o spracúvaní osobných údajov</a
                    >
                  </li>
                  <li
                    id="menu-item-17015"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17015"
                  >
                    <a
                      href="https://nemocnica-bory.sk/en/marketing-suhlas/"
                      data-ps2id-api="true"
                      >Súhlas so spracovaním osobných údajov pre marketingové
                      účely</a
                    >
                  </li>
                  <li
                    id="menu-item-6712"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6712"
                  >
                    <a
                      href="https://nemocnica-bory.sk/en/zasady-pouzivania-suborov-cookie/"
                      data-ps2id-api="true"
                      >Zásady používania súborov cookie</a
                    >
                  </li>
                  <li
                    id="menu-item-9148"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9148"
                  >
                    <a
                      href="https://nemocnica-bory.sk/cennik/"
                      data-ps2id-api="true"
                      >Cenník pre nezmluvných pacientov a samoplatcov</a
                    >
                  </li>
                  <li
                    id="menu-item-17673"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17673 parent"
                  >
                    <a
                      href="https://nemocnica-bory.sk/en/vop/"
                      data-ps2id-api="true"
                      >Všeobecné obchodné podmienky vzťahujúce sa k programom
                      Nateo a Nateo Family</a
                    >
                    <ul class="sub-menu">
                      <li
                        id="menu-item-20115"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20115"
                      >
                        <a
                          href="https://nemocnica-bory.sk/vop-spondeo/"
                          data-ps2id-api="true"
                          >Všeobecné obchodné podmienky Orteo a Spondeo</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-1586"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1586"
                  >
                    <a
                      href="https://nemocnica-bory.sk/en/kontakty/"
                      data-ps2id-api="true"
                      >Kontakty</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="section">
            <div class="body">
              <div class="logo mb-4">
                <a href="https://nemocnica-bory.sk/en/" title="Svet zdravia"
                  ><img
                    src="https://h5u6x5h2.delivery.rocketcdn.me/wp-content/themes/procare/img/logo2.svg"
                    alt=""
                /></a>
              </div>
            </div>
            <p class="clen_sk text-sm">
              Member of the network
              <a
                href="https://pentahospitals.sk"
                class="highlight"
                target="_blank"
                >Penta Hospitals</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom pb-4">
    <div class="container">
      <div class=" flex justify-between items-center">
    
        <div class="middle-side">
          <nav class="footer">

          </nav>
          <br />
         
        </div>
        <div class="right-side">
          <div class="copyright">
            Nemocnica Bory, a.s., Ⓒ 2025 All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
