:host {
  display: block;
  width: 100%;
}

.reservation-container {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    padding: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .reservation-container {
    .content {
      padding: 0;
    }
  }
  
}